@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
    }
body{
  background-color: 	#D3D3D3;
}
h1{
  text-align: center;
}
h2{
  font-family: 'SEGA LOGO FONT';
        font-weight: 200;
        color:#0ccac4
}
  .col-lg-4{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
p{
  font-family: 'Sen', sans-serif;
  text-align: center;
  font-size: 20px;
}

